<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LITReview</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>
<body>


{# include navbar if user logged in #}

{% if user.is_authenticated %}

  {% include "navbar.html" %}

{% endif %}


  {% block content %}
  {% endblock %}

</body>
</html>
