{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}

<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>

{% endif %}

<div class="container display: grid">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="mb-3">
          <h2>Sign-up Now</h2>
          <a href="{% url 'signup' %}">
            <button type="button" class="btn btn-primary">Sign Up</button>
          </a>
        </div>

      </div>
    </div>
    <div class="col">
     <div class="basic">
      {% include "registration/login.html" with form=login %}
    </div>
  </div>
</div>
</div>



{% endblock %}
