{% extends "main.html" %}
{% block content %}

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">


<ul>
{% if posts %}


{% for post in posts %}
    {% if post.type == 'TICKET' %}
        {% include 'ticket_snippet.html' with ticket=post %}
    {% elif post.type == 'REVIEW' %}
        {% include 'review_snippet.html' with review=post ticket=post.ticket %}
    {% endif %}
{% endfor %}


{% else %}

<h1>No posts !</h1>

{% endif %}

            </div>
            <div class="clo-md-3">
            </div>
        </div>

{% endblock content %}
