{% extends "main.html" %}
{% block content %}


<h3>Logged in as</h3>

{{user}}

<h2>Follow somebody:</h2>

<br>{{users.all}}

<h2>People I follow: </h2>


<br>

<h2>People following me: </h2>

returns UserFollow objects where user == user

<ul>

  {% if followers %}

    <span>Here are all the followers:</span>

    {% for follower in followers  %}

      <li>{{follower.user}}</li>


    {% endfor %}

  {% else %}

      <span class="text-danger"> No Follower to show!</span>

  {% endif %}

</ul>


{% endblock content %}
