{% extends "main.html" %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <div class="container p-4 my-4 border rounded">

        <h3>My Username: {{user}}</h3>



        <div class="container p-2 my-2 border">

          <h4>Follow another user</h4>

          <form method="post" action="{% url 'my_followers' %}" enctype="multipart/form-data">

            {% csrf_token %}



            <div class="form-group">
                <label for="searched" class="form-label">Enter user name to follow</label>
                <input class="form-control form-control-lg" type="text" name="searched" value={{searched}}>
            </div>

             <button type="submit" class="btn btn-primary">Follow</button>
          </form>

          {% if error_message %}

              <span class="text-danger"> {{error_message}}</span>

          {% elif searched and found_user %}

              <p>you're now following {{found_user}}!</p>

          {% elif searched and not found_user %}

              <span class="text-danger"> No user found with this name!</span>

          {% else %}

              <p>Enter a user name</p>

          {% endif %}



        </div>

        <div class="container p-2 my-2 border">

          <h4>My Subscriptions</h4>

          <br>

          {% if subscriptions %}

          <span>Here are the people I follow:</span>

          <table class="table">
            <tbody>
              {% for subscription in subscriptions  %}
              <tr>
                <td>{{subscription.followed_user}}</td>
                <td class="text-right">
                <a href="{% url 'delete_user_follow' user_follow_id=subscription.id %}">Unsubscribe</a>
                </td>
              </tr>

          {% endfor %}

            </tbody>
          </table>

          {% else %}

          <span class="text-danger"> No subscriber to show!</span>

          {% endif %}

        </div>

        <div class="container p-2 my-2 border">

          <h4>My Subscribers: </h4>


            {% if subscribers %}

            <span>People following me:</span>

             <table class="table">
                <tbody>

            {% for subscriber in subscribers  %}

            <tr>
              <td>{{subscriber.user}}</td>
            </tr>

            {% endfor %}

            </tbody>
          </table>

            {% else %}

            <span class="text-danger"> No Follower to show!</span>

            {% endif %}

        </div>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



{% endblock content %}
