
<div class="container p-4 my-4 border">

<!--- Review -->
  <div class="card-body">
    {% if review.user == user %}


       <h6 class="card-subtitle mb-2 text-muted">You wrote a review!</h6>

    {% else %}

    <h6 class="card-subtitle mb-2 text-muted">{{review.user}} wrote a review!</h6>

    {% endif %}

    <p class="card-text float-right">{{review.time_created}}</p>
    <br>
    <h5 class="card-title">{{review.headline}}</h5>

    <div class="rating">

        {% with ''|center:review.rating as range %}
        {% for _ in range %}
             <i class="bi bi-star-fill"></i>
        {% endfor %}
        {% endwith %}
    </div>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">{{review.body}}</h6>

  </div>



<!--- Ticket -->

<div class="card" style="">
  {% if review.ticket.image %}

    <img class="card-img-top embed-responsive-item" src="{{review.ticket.image.url}}" role="img" preserveAspectRatio="xMidYMid slice"></img>

  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{review.ticket.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">asked by: {% if ticket.user == user %} You {% else %} {{ticket.user}} {% endif %}</h6>
    <p class="card-text">{{review.ticket.description}}</p>
  </div>
</div>
<br>


{% if request.resolver_match.url_name == 'feed' %}

  {% if review.user != user and ticket not in tickets_reviewed_by_user %}

    <a href="{% url 'write_review_ticket' ticket_id=review.ticket.id%}" >
      <button class="btn btn-primary btn-large">
        Write a review
      </button>
    </a>

  {% endif %}

{% else %}

  {% if review.user == user %}

  <a href="{% url 'edit_review' review_id=review.id %}" >
      <button class="btn btn-primary btn-large">
        Edit Review
      </button>
    </a>

    <a href="{% url 'delete_review' review_id=review.id %}" >
      <button class="btn btn-danger btn-large">
        Delete Review
      </button>
    </a>

  {% endif %}

{% endif %}


</div>
