{% extends "main.html" %}
{% block content %}


<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">


    <div class="container p-4 my-4 border rounded">

      <h2>Create ticket</h2>
      <form method="post" action="{% url 'write_review_and_ticket' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <textarea name="title" class="form-control" id="title" rows="1">{{ticket_form.instance.title}}</textarea>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" class="form-control" placeholder="Write your ticket request here" id="id_description" style="height: 100px">{{ticket_form.instance.description}}</textarea>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          {% if ticket_form.instance.image %}
          <img src={{ticket_form.instance.image.url}} class="img-fluid" alt="Responsive image">
          <label for="image">Replace image: </label>
          {% else %}
          <label for="image">Upload a file</label>
          {% endif %}
          <input type="file" class="form-control-file" name="image" id="image">
        </div>
      </div>
    </div>


    <div class="container p-4 my-4 border rounded">

      <h2>Create review</h2>

      <p>ticket</p>

      <div class="mb-3">

        <p>rating</p>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio0" value="0">
          <label class="form-check-label" for="inlineRadio0">0</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>

      </div>

      <div class="mb-3">
        <label for="headline" class="form-label">Headline</label>
        <textarea name="headline" class="form-control" id="headline" rows="1">{{review_form.instance.headline}}</textarea>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <label for="description" class="form-label">Body</label>
          <textarea name="body" class="form-control" placeholder="Write your description here" id="body" style="height: 100px">{{review_form.instance.body}}</textarea>
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
<div class="col-md-1">
</div>




{% endblock content %}
