{% extends "main.html" %}
{% block content %}


<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">

    <div class="container p-4 my-4 border rounded">

    <div class="card">

      {% if ticket_instance.image.url %}

        <img class="card-img-top" width="100%" src="{{ticket_instance.image.url}}" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ticket_instance.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">asked by: {{ticket_instance.user}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">date: {{ticket_instance.time_created}}</h6>
        <p class="card-text">{{ticket_instance.description}}</p>

      </div>
    </div>


    <div class="container p-4 my-4 border rounded">
      <form method="post" action="{% url 'write_review_ticket' ticket_id=ticket_instance.id %}" enctype="multipart/
      form-data">
      <input type="hidden" name="next" value="/feed">

      {% csrf_token %}

      <h2>Create review</h2>


      <div class="mb-3">

        <p>rating</p>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio0" value="0">
          <label class="form-check-label" for="inlineRadio0">0</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>

      </div>

      <div class="mb-3">
        <label for="headline" class="form-label">Headline</label>
        <textarea name="headline" class="form-control" id="headline" rows="1">{{review_form.instance.headline}}</textarea>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <label for="description" class="form-label">Body</label>
          <textarea name="body" class="form-control" placeholder="Write your description here" id="body" style="height: 100px">{{review_form.instance.body}}</textarea>
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
<div class="col-md-1">
</div>




{% endblock content %}
